html {
	height:100%;
	overscroll-behavior-y:contain;
}

body {
    font-family: Segoe UI, Roboto, Helvetica, sans-serif;  
    line-height: 1.6;
    color: #333;   
    margin:0px;
	height:100%;
	width:100%;
	overflow:auto;
}

.containerdiv {	
	display:flex;
	height:100%;
	width:100%;
}

.firstDiv {
	overflow:auto; 
	resize:horizontal; 
	box-shadow: #d4d4d4 0px 0px 7px; 
	width:400px;	
	scrollbar-width:thin;
}

.secondDiv {
	padding:30px;
	padding-left:50px;
	overflow:auto; 
	flex-grow:1;
}

.accordion {
	overflow:hidden;
	transition-property: max-height, padding, margin;
	transition-duration: 0.1s;
	transition-timing-function: ease-out;
}

.objectWrapper {
	background-color:white;
	border-radius:15px;
	padding:15px 10px;
	margin:10px;	
	scroll-margin-top:60px;
}

div:focus {
	outline:none;	
}

input[type=number], input[type=text], input[type=password] { 
	padding: 5px;
	border-top: solid 0px;
	border-left: solid 0px;
	border-right: solid 0px;
	text-overflow: ellipsis;
	overflow: hidden;
}

input[type=number]:focus, input[type=text]:focus, input[type=password]:focus {  
	border-bottom: solid 2px;
	outline: none;
	text-overflow: ellipsis;
	overflow: hidden;
}

input[type=number]:disabled, input[type=text]:disabled {
	background-color:white;
	border-bottom: 0px;
	color: #333;
}

/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
}

option {
	background-color:#f1f4f4;
}

.close-icon {
	position: relative;
	padding: 0px;
	border:1px solid transparent;
	background-color: transparent;
	vertical-align: middle;
	outline: 0;
}
.close-icon:hover {
	background-color: transparent !important;
}
.close-icon:after {
	content: "\2715"; /*\2A09*/
	z-index:1;
	position: absolute;
	right: 12px;
	bottom: 0px;
	padding: 5px;
	filter:grayscale(1) opacity(0.4);
	cursor: pointer;
}
input:placeholder-shown ~ .close-icon:after {
	content: "📋";
	padding-right: 3px;
}

select {
	outline: none;
	padding: 5px 10px;
	font-family: Segoe UI, Roboto, Helvetica, sans-serif;  
	color: #333;
	border-radius: 15px;
	border: 0px solid #fff;
	background-color:#f1f4f4;
	font-size:1em;
}

select:hover {	
	background-color: #d4d7d7;
}

button {
	outline: none;
	padding: 5px 10px;
	font-family: Segoe UI, Roboto, Helvetica, sans-serif;  
	color: #333;
	border-radius: 15px;
	border: 0px solid #fff;
	background-color:#f1f4f4;
	font-size:1em;
	cursor: pointer;
}

button:hover:enabled {  
	background-color: #d4d7d7;
}

button.active {
	background-color: #b4b7b7;	
}

button:disabled, button[disabled]{
	color:#aaa;
	cursor:initial;
}

a {
	text-decoration: none;
	color: #699;
}

a:hover {
    color: #333;
}

.address {
	cursor:pointer; 
	font-size:0.8em;
	overflow:hidden; 
	text-overflow:ellipsis;
	max-width:min-content;
	border-radius:5px;
	padding-left:3px;
	padding-right:3px;
}

.clickFlash {
	cursor:pointer;
	border-radius:5px;
	padding-left:2px;
	padding-right:2px;
}

/*-----------*/

/* Width */
ul::-webkit-scrollbar {
	width: 6px;
}

/* Track */
ul::-webkit-scrollbar-track {
	background: white;
}
 
/* Handle */
ul::-webkit-scrollbar-thumb {
	background: #dfdfdf;
	border-radius: 6px;
}

/* Handle on hover */
ul::-webkit-scrollbar-thumb:hover {
	background: #d4d4d4;
}

@media only screen 
  and (max-device-width: 450px), (max-device-height: 450px) { 
	html {
		overflow:auto;
	}
	body {
		font-size:14px;
		scroll-snap-type: x mandatory;
	}
		
	input[type=number], input[type=text], input[type=password] { 
		text-overflow: initial;
	}

	input[type=number]:focus, input[type=text]:focus, input[type=password]:focus {  
		text-overflow: initial;
	}

	select {
		padding: 10px 10px;		
	}
	
	button {
		padding: 10px 10px;
		cursor: initial;
	}
	
	button:hover:enabled {  
		background-color: #f1f4f4;
	}
	
	button.active:hover {
		background-color: #b4b7b7;	
	}

	button:focus {
		outline: none;
	}   
	
	.address {
		cursor:initial; 
	}
	
	.clickFlash {
		cursor:initial;
	}

	.close-icon:after {
		padding: 8px 5px;
	}
	
	.containerdiv {	
		width:200%;
	}
	
	.firstDiv {
		resize:initial; 
		box-shadow:initial; 
		box-sizing:border-box;
		flex-basis:100px;
		flex-grow:1;
		scroll-snap-align:start;
		scrollbar-width:none;
	}
	
	.secondDiv {
		padding:15px;
		box-sizing:border-box;
		flex-basis:100px;
		flex-grow:1;
		scroll-snap-align:end;
	}
	   
	::-webkit-scrollbar {
		display:none;
	}	  
}
