html {
	height:100%;
}

body {
    font-family: Segoe UI, Roboto, Helvetica, sans-serif;  
    line-height: 1.6;
    color: #333;   
    margin:0px;
	height:100%;
	width:100%;
	overflow:auto;
	overscroll-behavior-y: contain;
}

.containerdiv {	
	display:flex;
	height:100%;
	width:100%;
}

.objectWrapper {
	background-color:white;
	border-radius:10px;
	padding:15px 10px;
	margin:10px;	
	scroll-margin:50px;
}

.firstDiv {
	overflow:auto; 
	resize:horizontal; 
	box-shadow: #d4d4d4 0px 0px 7px; 
	width:400px;	
	scrollbar-width:thin;
	overscroll-behavior:contain;
}

.secondDiv {
	padding:30px;
	padding-left:50px;
	overflow:auto; 
	flex-grow:1;
}

div:focus {
	outline:none;	
}

input[type=number], input[type=text], input[type=password] { 
	padding: 5px;
	border-top: solid 0px;
	border-left: solid 0px;
	border-right: solid 0px;
	text-overflow: ellipsis;
	overflow: hidden;
}

input[type=number]:focus, input[type=text]:focus, input[type=password]:focus {  
	border-bottom: solid 2px;
	outline: none;
	text-overflow: ellipsis;
	overflow: hidden;
}

/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
}

select {
	outline: none;
	padding: 5px 10px;
	font-family: Segoe UI, Roboto, Helvetica, sans-serif;  
	color: #333;
	border-radius: 15px;
	border: 0px solid #fff;
	background-color:#f1f4f4;
	font-size:1em;
}

select:hover {	
	background-color: #d4d7d7;
}

button {
	outline: none;
	padding: 5px 10px;
	font-family: Segoe UI, Roboto, Helvetica, sans-serif;  
	color: #333;
	border-radius: 15px;
	border: 0px solid #fff;
	background-color:#f1f4f4;
	font-size:1em;
	cursor: pointer;
}

button.active {
	background-color: #b4b7b7;	
}

button:hover:enabled {  
	background-color: #d4d7d7;
}

button:disabled, button[disabled]{
	color:#aaa;
	cursor:initial;
}

a {
	text-decoration: none;
	color: #699;
}

a:hover {
    color: #333;
}

/*-----------*/

/* Width */
ul::-webkit-scrollbar {
	width: 6px;
}

/* Track */
ul::-webkit-scrollbar-track {
	background: white;
}
 
/* Handle */
ul::-webkit-scrollbar-thumb {
	background: #dfdfdf;
	border-radius: 6px;
}

/* Handle on hover */
ul::-webkit-scrollbar-thumb:hover {
	background: #d4d4d4;
}

@media only screen 
  and (max-device-width: 450px), (max-device-height: 450px) { 
	html {
		overflow:auto;
	}
	body {
		font-size:14px;
		scroll-snap-type: x mandatory;
	}
		
	input[type=number], input[type=text], input[type=password] { 
		text-overflow: initial;
	}

	input[type=number]:focus, input[type=text]:focus, input[type=password]:focus {  
		text-overflow: initial;
	}

	button {
		padding: 10px 10px;
	}
	
	select {
		padding: 10px 10px;		
	}

	.containerdiv {	
		width:200%;
	}
	
	.firstDiv {
		resize:initial; 
		box-shadow:initial; 
		box-sizing:border-box;
		flex-basis:100px;
		flex-grow:1;
		scroll-snap-align:start;
	}
	
	.secondDiv {
		padding:10px; 
		box-sizing:border-box;
		flex-basis:100px;
		flex-grow:1;
		scroll-snap-align:end;
	}
	
	   
	::-webkit-scrollbar {
		height: 0px;
	}	  
}
